

/*A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/


/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* start editing from here */

a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}


/* text align right */

.txt-lt {
	text-align: left;
}


/* text align left */

.txt-center {
	text-align: center;
}


/* text align center */

.float-rt {
	float: right;
}


/* float right */

.float-lt {
	float: left;
}


/* float left */

.clear {
	clear: both;
}


/* clear float */

.pos-relative {
	position: relative;
}


/* Position Relative */

.pos-absolute {
	position: absolute;
}


/* Position Absolute */

.vertical-base {
	vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
	vertical-align: top;
}


/* vertical align top */

.underline {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	margin: 0 0 20px 0;
}


/* Add 5px bottom padding and a underline */

nav.vertical ul li {
	display: block;
}


/* vertical menu */

nav.horizontal ul li {
	display: inline-block;
}


/* horizontal menu */

img {
	max-width: 100%;
}


/*img[width],img[height]{width:auto;height:auto;} wordpress hack to reset the attributes (while making responsive) */

body {
	font-family: Arial, Helvetica, sans-serif;
}

article {
	font-size: 16px;
	position: relative;
	margin-bottom: 15px;
}

article img {
	margin: 10px 0;
}

a {
	color: #c52525;
}


/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #565656;
}

h1 {
	font-size: 24px;
	margin: 0 0 .2em 0;
}

h2 {
	font-size: 18px;
	margin: 0 0 .3em 0;
}

h3 {
	font-size: 16px;
	margin: 0 0 .4em 0;
}

h4 {
	font-size: 14px;
}

h5,
h6 {
	font-size: 12px;
}

h4,
h5,
h6 {
	margin: 0 0 .6em 0;
}


/* paragraph */

p {
	line-height: 26px;
	margin: 0 0 16px 0;
}


/* TextFormatting */

strong,
b {
	font-weight: bold;
}

i,
cite,
em,
var,
address,
dfn {
	font-style: italic;
}

small {
	font-size: smaller;
}

del {
	text-decoration: line-through;
}

ins {
	text-decoration: underline;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

sub,
sup {
	font-size: smaller;
}

code,
kbd,
samp,
pre,
.pre-text {
	font-family: monospace;
}

q {
	display: inline;
}

q:before {
	content: open-quote;
}

q:after {
	content: close-quote;
}

address {
	line-height: 22px;
	margin: 0 0 16px 0;
}

abbr[title] {
	border-bottom: 1px dotted #565656;
}


/* blcokquote */

blockquote {
	margin: 16px 0 16px 40px;
}


/* pre */

pre,
.pre-text {
	display: block;
	white-space: pre;
	margin: 1em 0px;
}


/* HTMl lists */

ul,
ol,
dl {
	display: block;
	margin: 1em 0 1em 0;
}

ul,
ol {
	padding-left: 40px;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

dt,
dd {
	display: block;
	margin: 0 0 0.5em 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 2em;
}

form label {
	font-size: 12px;
	margin-bottom: 0.4em;
}

form input[type=text],
form input[type=password] {
	width: 180px;
}

form input[type=text],
form input[type=password],
textarea {
	border: 1px solid #ddd;
}

form input[type=text],
form input[type=password],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

form input[type="radio"] {
	position: relative;
	top: 1px;
}

form textarea {
	width: 180px;
	height: 80px;
}

.label-top label {
	display: block;
}

label.inline {
	display: inline-block;
}

form label span.red {
	color: #ff0000;
}

form input[type=submit] {
	border: 1px solid #ddd;
	background: #fff;
	color: #767676;
	margin: 0;
	cursor: pointer;
}


/*--------reset--------*/

body {
	background: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.wrap {
	width: auto;
	margin: 0 auto;
}

.logo {
	padding: 10px 0 0 30px;
}

.logo a {
	margin: 25px 0;
	color: #fff;
	font-size: 40px;
	float: left;
}

.header {
	width: auto;
	height: 120px;
	margin: 0 auto;
	background: #FFFFFF;
}


/*--nav--*/

.nav ul {}



.nav li.active {
	background: #c81e0f;
	-webkit-border-bottom-left-radius: .4em;
	-moz-border-bottom-left-radius: .4em;
	border-bottom-left-radius: .4em;
	-webkit-border-bottom-right-radius: .4em;
	-moz-border-bottom-right-radius: .4em;
	border-bottom-right-radius: .4em;
}

.nav li.active a:hover {
	color: #FFFFFF;
}

.nav li.active a {
	color: #ffffff;
}

.nav li a {
	color: #000000;
	font-size: 13px;
	display: block;
	padding: 10px 22px;
}

.nav li a:hover {
	color: #c81e0f;
}


/*--login--*/

.login {
	margin-top: 10px;
	color: #c81e0f;
}

.login li {
	text-align: center;
	display: inline-block;
}

.login li a {
	color: #c81e0f;
	font-size: 13px;
	display: block;
}

.login li a:hover {
	color: #8C1500;
}

.headerbox {
	float: right;
	margin-right: 40px;
}


/*body content*/

.main {
	margin-top: -18px;
	background: #ffffff;
	/*Background!!!!*/
}

article a {
	position: absolute;
	right: 0;
	bottom: 0;
	background: #c81e0f;
	color: #fff;
	font-size: 10px;
	padding: 4px;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
}

article a:hover {
	background: #8C1500;
}

.content {
	padding: 0 30px;
	margin-top: 50px;
	float: left;
}

.content h1 {
	font-size: 24px;
	color: #c81e0f;
}

.content p {
	font-size: 12px;
	margin-top: 10px;
	line-height: 1.8em;
	padding-bottom: 10px;
	color: #000000;
}

.sidebar {
	width: 300px;
	padding: 30px;
	float: left;
}

.recent h3 {
	margin-top: 30px;
	padding-bottom: 7px;
	color: #c81e0f;
	font-size: 20px;
	border-bottom: 1px dashed #928F6E
}

.recent ul {
	padding-left: 15px;
}

.recent li {
	list-style-image: url(../images/bullet.png);
	margin: 10px 0;
}

.recent li a {
	font-size: 12px;
	color: #ea5a00;
}

.recent li a:hover {
	color: #7E3000;
}

.add {
	margin-top: 30px;
}


/*--search--*/

.search {
	margin: 30px 0 0 0;
	width: 200px;
	padding: 1px;
	border: none;
	background: #ffffeb;
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em;
	border-radius: .8em;
}

.search input[type="text"],
.search input[type="submit"] {
	background: none;
	border: none;
	outline: none;
	color: #ea5a00;
}

.search input[type="text"] {
	margin-left: 12px;
	width: 150px;
}

.search input[type="submit"] {
	background: #ea5a00;
	color: #fff;
	cursor: pointer;
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em;
	border-radius: .8em;
}

.search input[type="submit"]:hover {
	background: #ea5a00;
}


/*--footer--*/

.f-menu {
	padding: 20px;
	background: #b43092;
	height: auto;
	position: relative;
}

.f-menu h4 {
	color: #ffffFF;
	font-size: 18px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #ffffFF;
}

.f-menu ul {
	padding-right: 50px;
}

.f-menu ul:nth-child(3) {
	border-right: none;
}

.f-menu li {
	list-style-type: none;
}

.f-menu li a {
	color: #ffffeb;
	font-size: 13px;
	display: block;
	margin: 10px 0;
}

.f-menu li a:hover {
	color: #fff;
}

.copy {
	position: absolute;
	left: 60px;
	bottom: 13px;
	color: #ffffff;
	font-size: 11px;
}

.copy a {
	color: #F6A8A2;
}

.f-menu input[type=text] {
	background: #ffffeb;
	width: 200px;
	padding: 3px;
	border: none;
	outline: none;
	margin-bottom: 15px;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
}

.f-menu input[type=submit] {
	margin-top: 5px;
	background: #c81e0f;
	color: #ffffeb;
	padding: 3px 6px;
	cursor: pointer;
	border: none;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
}

.f-menu textarea {
	background: #ffffeb;
	outline: none;
	padding: 3px;
	width: 199px;
	height: 60px;
	border: none;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
}


/* form */

.form {
	font-size: .8em;
	margin: 1em 0 0 3em;
}

form label {
	font-size: 15px;
	color: #928F6E;
	padding-bottom: 5px;
}

form div {
	padding: 15px;
}

form div:last-child {
	border-bottom: none;
}

form span {
	display: block;
	color: #aaa;
}

.form form input[type=text],
form input[type=password],
form textarea,
form input[type=text].error,
form input[type=password].error,
form select.error {
	padding: 4px 5px;
	width: 300px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
	border: 1px solid #928F6E;
	color: #928F6E;
	background: none;
}

.form form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus,
form select:focus {
	background: none;
	outline: none;
}

.content form input[type=submit] {
	cursor: pointer;
	color: #ffffeb;
	background: #928F6E;
	padding: 5px 25px;
	border: none;
}

.content form input[type=submit]:hover {
	background: #B4B087;
	color: #FFF;
}

.content form textarea {
	height: 100px;
	width: 300px;
}

.error {
	display: inline;
	font-size: 12px;
	font-weight: normal;
	padding: 10px 0 0 10px;
	color: #FF0000;
}

select.error {
	padding: 0;
}


/* content */

.content ul {
	margin: 0 0 12px 0;
}

.content li {
	color: #C4AC9E;
	font-size: 12px;
	line-height: 22px;
}

.content h2,
.content h3 {
	color: #D9C8BE;
	font-weight: bold;
	margin: 12px 0;
}


/*RESPONSIVE */

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	flex-basis: 100%;
}

@media screen and (min-width: 700px) {
	.column {
		flex: 1;
	}
	._25 {
		flex: 2.5;
	}
	._75 {
		flex: 7.5;
	}
	._20 {
		flex: 2;
	}
	.f-menu {
		padding: 20px;
		background: #b43092;
		height: auto;
		position: relative;
	}
	.f-menu ul {
		border-right: 1px solid #FFFFFF;
	}
	.wrap {
		width: 1000px;
		margin: 0 auto;
	}
	.nav li {
	float:left;
	text-align: center;
	display: inline-block;
	}
}

@media screen and (max-width: 700px) {
	.wrap {
		width: auto;
		margin: 0 auto;
	}
	.header {
		width: auto;
	}
	
	
 .nav ul {
	list-style: none;
	padding: 10px;
	text-align: center;
	display:grid;
}	
	.login ul {
	margin-top: 0px;
	list-style: none;
	padding: 0px;
	text-align: center;
	}
	
	.content {
    margin-top: 25px;
	}
}

